
body{
  margin: 0; 
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #c2e59c, #64b3f4);
  overflow-x: hidden;
}

.container {
	margin-top: 200px;
}
 .containerLogin {
  margin-top: 200px;
 }
.box {
  padding: 50px;
  background: #FFFAFA;
  width: 300px;
  height: 550px;
  margin-top: -600px;
  margin-left: 34%;
  margin-bottom: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;

}

h1,h2, p {
	text-align: center;
}
.terms p, a {

	margin-top: 400px;
	margin-bottom: 400px;
	text-decoration-line: none;
}
.termLogin {
  margin-top: 100px;
  margin-bottom: 600px;
  text-decoration-line: none;
}
.form-email,.pass1, .login-username,.login-password,.check{
	margin-left: 43%;
	margin-top: 10px;
}
.button1 button{
	margin-left: 585px;
	margin-top: 10px;
  margin-bottom: 150px;
	padding: 10px;
	box-shadow: 5px 5px 5px #888888;
  color: #FFFAFA;
  cursor: pointer;
}
 .login-btn button {
  margin-left: 594px;
  margin-top: 10px;
  margin-bottom: 150px;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
  color: #FFFAFA;
  cursor: pointer;
 }
.login-box {
  padding: 50px;
  background: #FFFAFA;
  width: 300px;
  height: 400px;
  margin-top: -1200px;
  margin-left: 34%;
  margin-bottom: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}
.cancel button{
  margin-left: 43%;
  margin-bottom: : 600px;
  padding: 5px;
  box-shadow: 5px 5px 5px #888888;
}
.navs {
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 400px;

}
.navi button{
  margin: 30px;
  padding: 10px;
  width: 200px;
  box-shadow: 5px 5px 5px #888888;
}
.images img{
  width: 100px;
  height: 100px;
  margin-left: 80%;
}
input[type="checkbox"] {
  position: fixed;
  right: 12px;
  top: 20px;
  width: 70px;
  height: 30px;
  color: #b3c4b7;
  z-index: 100000;
}
.icon {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 70px;
  height: 30px;
  z-index: 100000;
  background: #FFFAFA;
  pointer-events: none;
  border-radius: 5px;
  box-shadow:  5px 5px 5px #888888;
}
.icon.before {
  content: 'close';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow:  5px 5px 5px #888888;
}
input[type="checkbox"]:checked~ .icon:before {
  content: 'MENU';
}
ul {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px 20px;
  box-sizing: border-box;
  width: 200px;
  height: 100%;
  background: #a2f0f2;
  transition: 0.5s;
  z-index: 100000;
  overflow-y: auto;  
}
input[type="checkbox"]:checked~ ul {
  left: -300px;

} 
ul li {
  list-style: none;
}
ul li a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  transition: 0.5s;
}
ul li a:hover {
  transform: translateX(10px);
  color: #b3c4b7;

}
.dashboardBox {
  padding: 50px;
  background: #FFFAFA;
  width: 1110px;
  height: 1800px;
  margin-top: -400px;
  margin-left: 2%;
  margin-bottom: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}
.gallery {
  margin-top: 400px;
}
#pictures {
  margin-top: 400px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  border-radius: 4px;
  margin-bottom: 30%;
  margin-left: 100px;
  margin-top: -350px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.nexxt {
  margin-left: 40%;
  
  margin-bottom: 10%;
}
.nexxt button {
  padding: 10px;
  width: 100px;
  margin-top: -90%;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #888888;

}

hr.dashed {
  border-top: 5px dashed #bbb;
}

.Jude{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, #c2e59c, #64b3f4);
    margin-bottom: 500px;
}
nav {
    width: 80%;
    position: sticky;
    margin:20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 50px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin:20px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}  
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 5%;
    transform: rotate(0deg);
    transition: 1s;
}
.feature img{
    width: 70px;
}
.feature{
   position: absolute;
   display: flex;
   color: #FFF;
}
.feature div{
   margin-left: 30px;
}
.feature div p{
   margin-top: 8px;
}
.one{
   top: 450px;
   right: 50px;
}
.two{
   top: 150px;
   left: 350px;
   transform: rotate(-90deg);
}
.three{
   bottom: 450px;
   left: 40px;
   transform: rotate(-180deg);
}
.four{
   bottom: 150px;
   left: 350px;
   transform: rotate(-270deg);
}
.jhude{
   width: 200px;
   position: absolute;
   top: 40%;
   left: 35%;
   transform: translateY(- 50%);
   z-index: 1;
}
.controls{
   position: absolute;
   right: 10%;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
}
.controls h3 {
   margin: 15px 0;
}
#up{
   width: 15px;
    cursor: pointer;
}
#down{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}
.navs {
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 10px;

}
.navi button{
  margin: 30px;
  padding: 10px;
  width: 200px;
  box-shadow: 5px 5px 5px #888888;
}

